<main class="main-content">
    <div class="container-fluid photos">

        <div class="row pt-4 mb-5 text-center">
            <div class="col-12">
                <h2 class="text-white mb-4">PlaceholderText</h2>
                @* <h2 class="text-white mb-4">'@Model.GalleryTitle' &mdash; Displaying @Model.Images.Count of @Model.TotalImageCount Photos</h2> *@
            </div>
        </div>

        <div class="row align-items-stretch">
            
        </div>

@*         @if (hasPreviousPage)
        {
            int nextOffset = Model.CurrentOffset - Model.CurrentDisplayCount;
            if (nextOffset < 0) nextOffset = 0;
            string uri = $"/single/{Model.Id}?offset={nextOffset}&displayCount={Model.CurrentDisplayCount}";
            <a href="@uri">Previous</a>
        }
        @if (hasNextPage)
        {
            int nextOffset = Model.CurrentOffset + Model.CurrentDisplayCount;
            string uri = $"/single/{Model.Id}?offset={nextOffset}&displayCount={Model.CurrentDisplayCount}";
            <a href="@uri">Next</a>
        }
 *@
        <div class="row justify-content-center">
            <div class="col-md-12 text-center py-5">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script type="text/javascript" src="~/js/view-listener-custom.js"></script>
}
