@using Microsoft.Extensions.Configuration
@using Application.Enums

@model WebGallery.UI.ViewModels.Single.SingleGalleryViewModel

@inject IConfiguration Configuration

@{
    string fileServerUrl = $"/files";
}

<main class="main-content">
    <div class="container-fluid photos">

        <div class="row pt-4 mb-5 text-center">
            <div class="col-12">
                <h2 class="text-white mb-4">'@Model.GalleryTitle' &mdash; Displaying @Model.Images.Count Photos</h2>
            </div>
        </div>

        <div class="row align-items-stretch">
            @foreach (var item in Model.Images)
            {
                string itemUrl = $"{fileServerUrl}/{item.AppPath}";
                string popUpDelayAtr = item.PopUpDelay == 0 ? "" : $"data-aos-delay={item.PopUpDelay}";

                if (item.MediaType == MediaType.Video)
                {
                    <div class="col-6 col-md-6 col-lg-@item.LargeScreenSize" data-aos="fade-up" @popUpDelayAtr>
                        <a href="@itemUrl"
                           class="d-block photo-item"
                           data-fancybox="gallery"
                           data-type="video"
                           data-caption="<div data-current-image='@item.Id'><a href='/Bio/id/@item.Id'>@item.Id</a></div>">
                            <video class="img-fluid" autoplay loop muted>
                                <source src="@itemUrl" type="video/mp4" />
                            </video>
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-6 col-md-6 col-lg-@item.LargeScreenSize" data-aos="fade-up" @popUpDelayAtr>
                        <a href="@itemUrl"
                           class="d-block photo-item"
                           data-fancybox="gallery"
                           data-type="image"
                           data-caption="<div data-current-image='@item.Id'><a href='/Bio/id/@item.Id'>@item.Id</a></div>">

                            <img src="@itemUrl" alt="Image" class="img-fluid">
                            <div class="photo-text-more">
                                <span class="icon icon-search"></span>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>


        <div class="row justify-content-center">
            <div class="col-md-12 text-center py-5">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script type="text/javascript" src="~/js/view-listener-single.js"></script>
}
