@model WebGallery.UI.ViewModels.Uploads.UploadResultViewModel

<a href="/uploads">Return to uploads page</a>
<h3>Success!</h3>
<p>Uploaded album <a href="/albums/@Model.UploadAlbumName">'@Model.UploadAlbumName'</a> with @Model.UploadFileCount files</p>

<table>
    <tr>
        <th>Filename</th>
        <th>Size (bytes)</th>
        @* <th>Destination</th> *@
    </tr>
    @foreach (var file in Model.UploadedFiles)
    {
        <tr>
            <td>@file.FileName</td>
            <td>@file.FileSize</td>
            @* <td>@file.UploadDestinationPath</td> *@
        </tr>
    }
</table>