@{ 
    string currentView = @ViewBag.Current ?? "home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebGallery.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/magnific-popup.js/magnific-popup.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css">

    <link rel="stylesheet" href="~/lib/aos/aos.css" />
    <link rel="stylesheet" href="~/lib/fancybox/jquery.fancybox.min.css" />
    
    <link rel="stylesheet" href="~/css/shutter/style.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>

    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="header-bar d-flex d-lg-block align-items-center" data-aos="@(currentView.ToLower() == "home" ? "fade-left": "")">
            <div class="site-logo">
                <a href="/">Shutter</a>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

            <div class="main-menu">
                <ul class="js-clone-nav">
                    <li class="@(currentView.ToLower() == "home" ? "active": "")"><a href="/">Home</a></li>
                    <li class="@(currentView.ToLower() == "random" ? "active": "")"><a href="/SingleRandom">Single</a></li>
                    <li class="@(currentView.ToLower() == "bio" ? "active": "")"><a href="/Bio">Bio</a></li>
                </ul>
                <ul class="social js-clone-nav">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
        </header>

        @RenderBody()
    </div> <!-- .site-wrap -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/magnific-popup.js/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>

    <script src="~/lib/fancybox/jquery.fancybox.min.js"></script>

    <script src="~/js/main.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
