@using Application.Enums

@model WebGallery.UI.ViewModels.Single.SingleGalleryViewModel

@{
    bool hasPreviousPage = Model.CurrentOffset != 0;
    bool hasNextPage = Model.CurrentOffset + Model.CurrentDisplayCount < Model.TotalImageCount;
}

<main class="main-content">
    <div class="container-fluid photos">

        <div class="row pt-4 mb-5 text-center">
            <div class="col-12">
                <h2 class="text-white mb-4">'@Model.GalleryTitle' &mdash; Displaying @Model.Images.Count of @Model.TotalImageCount Photos</h2>
            </div>
        </div>

        <div class="row align-items-stretch">
            @foreach (var item in Model.Images)
            {
                var appPathBytes = System.Text.Encoding.UTF8.GetBytes(item.AppPath);
                string appPathBase64 = System.Convert.ToBase64String(appPathBytes);

                string popUpDelayAtr = item.PopUpDelay == 0 ? "" : $"data-aos-delay={item.PopUpDelay}";

                if (item.MediaType == MediaType.Video)
                {
                    @* OLD STYLE w/o thumbnail 
                    string videoUri = $"/files/video/{appPathBase64}";
                    <div class="col-6 col-md-6 col-lg-@item.LargeScreenSize" data-aos="fade-up" @popUpDelayAtr>
                        <a href="@videoUri"
                           class="d-block photo-item"
                           data-fancybox="gallery"
                           data-type="video"
                           data-caption="<div data-current-image='@item.Id'><a href='/Bio/id/@item.Id'>@item.Id</a></div>">
                            <video class="img-fluid" loop muted preload="metadata" controls>
                                <source src="@videoUri" type="video/mp4" />
                            </video>
                        </a>
                    </div> *@

                    string thumbsBase64 = WebGallery.UI.Helpers.Utils.GetThumbsBase64(item.AppPath);
                    string thumbsUri = $"/files/image/{thumbsBase64}";
                    string videoUri = $"/files/video/{appPathBase64}";

                    <div class="col-6 col-md-6 col-lg-@item.LargeScreenSize" data-aos="fade-up" @popUpDelayAtr>
                        <a href="@videoUri"
                           class="d-block photo-item"
                           data-fancybox="gallery"
                           data-type="video"
                           data-caption="<div data-current-image='@item.Id'><a href='/Bio/id/@item.Id'>@item.Id</a></div>">

                            <img src="@thumbsUri" alt="Image" class="img-fluid">
                        </a>
                         <div class="play-icon-overlay">
                            <svg width="32" height="32" viewBox="0 0 32 32" fill="white" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="16" r="16" fill="rgba(0,0,0,0.4)"/>
                                <polygon points="12,9 24,16 12,23" fill="white"/>
                            </svg>
                        </div>
                    </div>

                }
                else
                {
                    string imageUri = $"/files/image/{appPathBase64}";
                    <div class="col-6 col-md-6 col-lg-@item.LargeScreenSize" data-aos="fade-up" @popUpDelayAtr>
                        <a href="@imageUri"
                           class="d-block photo-item"
                           data-fancybox="gallery"
                           data-type="image"
                           data-caption="<div data-current-image='@item.Id'><a href='/Bio/id/@item.Id'>@item.Id</a></div>">

                            <img src="@imageUri" alt="Image" class="img-fluid">
                            <div class="photo-text-more">
                                <span class="icon icon-search"></span>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>

        @if (hasPreviousPage)
        {
            int nextOffset = Model.CurrentOffset - Model.CurrentDisplayCount;
            if (nextOffset < 0) nextOffset = 0;
            string uri = $"/albums/{Model.Id}?offset={nextOffset}&displayCount={Model.CurrentDisplayCount}";
            <a href="@uri">Previous</a>
        }
        @if (hasNextPage)
        {
            int nextOffset = Model.CurrentOffset + Model.CurrentDisplayCount;
            string uri = $"/albums/{Model.Id}?offset={nextOffset}&displayCount={Model.CurrentDisplayCount}";
            <a href="@uri">Next</a>
        }

        <div class="row justify-content-center">
            <div class="col-md-12 text-center py-5">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script type="text/javascript" src="~/js/view-listener-album-single.js"></script>
    <script type="text/javascript">album = "@Model.Id";</script>
}