@using Microsoft.Extensions.Configuration

@model WebGallery.UI.ViewModels.Bio.BioPictureViewModel

@inject IConfiguration Configuration
@{
    var appPathBytes = System.Text.Encoding.UTF8.GetBytes(Model.AppPath);
    string appPathBase64 = System.Convert.ToBase64String(appPathBytes);
    string imageUri = $"/files/image/{appPathBase64}";
}

<div id="image-id-placeholder" style="display:none">@Model.Id</div>

<figure class="bio-figure" data-aos="fade-in">
    <a href="@imageUri" data-fancybox data-type="image">
        <img src="@imageUri" alt="Image" class="bio-img">
    </a>
</figure>

<div data-aos="fade-left" data-aos-duration="1000">
    <ul class="tag-list" id="bioPictureTags">
        @foreach (var tag in Model.Tags)
        {
            string tagStr = tag;
            if (!tag.StartsWith('#'))
                tagStr = "#" + tag;

            <li class="tag-list-item" data-tag-name="@tag">@tagStr <span onclick="deleteTag('@tag', '@Model.Id')"> x </span></li>
        }
    </ul>
</div>

<div class="bio-nav-container">
    <div class="bio-nav-item">
        <a href="" data-ajax="true" data-ajax-url="/Bio/switch/@(Model.GlobalSortOrder - 1)" data-ajax-update="#bio-img-partial" data-ajax-success="bioSwitch(@(Model.GlobalSortOrder - 1))"><<<  </a>
    </div>
    <div class="bio-nav-item" id="bioImgCounter">#@Model.GlobalSortOrder</div>
    <div class="bio-nav-item">
        <a href="" data-ajax="true" data-ajax-url="/Bio/switch/@(Model.GlobalSortOrder + 1)" data-ajax-update="#bio-img-partial" data-ajax-success="bioSwitch(@(Model.GlobalSortOrder + 1))">  >>></a>
    </div>
</div>
